@import ':sharedStyles';

.background {
  background: linear-gradient($blue, $purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 3px;
  width: 312px;
  padding: 14px 16px;
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.numbersContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
