@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

:global(.text16) {
  font-family:'Roboto', sans-serif;
  font-size: 16px;
}

:global(.text14) {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

:global(.text14Light) {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

:global(.btn1) {
  background-image: url('../../assets/images/magic-wand.svg');
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:global(.btn2) {
  width: 40px;
  height: 40px;
  border: 1px solid $grey;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  &:global(.active) {
    background-color: $yellow;
  }
  &:active {
    background-color: $yellow;
  }
  &:hover {
    background-color: $grey
  }
}

:global(.btn3) {
  background-color: white;
  border: 1px solid $grey;
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  &:active {
    background-color: $yellow;
  }
  &:hover {
    background-color: $grey
  }
}

:global(.spinnerBackground) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

:global(.spinner) {
  width: 20px;
  height: 20px;
  background-image: url('../../assets/images/magic-wand.svg');
  animation: rotation 1s linear 0s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
